.Home {
    background-image: url('../../images/food-with-ingredients.jpg');
    filter: brightness(100%);
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-top: 6em;
    color: whitesmoke;
}

button{
    border: none;
    transition: 3.s;
}

button:hover{
    background-color: rgba(171, 80, 202, 0.823);
    font-size: 0.8em;
    box-shadow: white 0em 0em 0.3em 0.1em;
}